{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} | ajout Campus
{% endblock %}


{% block body %}
    {{ form_start(campusForm) }}
    {{ form_widget(campusForm) }}
    <button class="btn btn-outline-light rounded-0" type="submit" >Enregistrer</button>
    {{ form_end(campusForm) }}
{% endblock %}



