/*Mise en page générale*/

 /*html{*/

 /*   Overflow-x:scroll;*/
 /*   Overflow-y:scroll;*/

 /*   }*/

    html, body {
        width: 100%;
        height:100%;
        margin : 0;
        padding : 0;
    }

    main {
        padding: 5em 10em;
        font-family: 'Geologica', sans-serif;
        color : #FFFFFF;

    }

    body {
        font-family: 'Geologica', sans-serif;
        color: #FFFFFF;
    }

    a, p, text {
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
    }

    /*Gestion des encadrements*/

        .encadrement-contenu{
            border: 1px solid white;
            border-radius: 1em;
            padding: 2em;
        }


/*Header & Footer*/

    footer{
        font-family: 'Geologica', sans-serif;
        /*position: relative;*/
    }

    #list-navbar{
        font-family: 'Geologica', sans-serif;
        color: #FFFFFF;
    }


/*Gestion des buttons*/

    button{
        font-family: 'Geologica', sans-serif;
        color: #fffcfc;
    }

.form-field input[type="text"], .form-field select, .form-field  textarea, .form-field  .form-field  {
    border-radius: 10px; /* Adjust the value as needed */ }

/*Gestion du profil utilisateur*/

    /*Taille maximale de l'image utilisateur*/

        .img-max {
            width :20em;
            height: 5em;
        }

    /*Taille spécifique nom utilisateur*/

        #utilisateur-show-profil{
            font-size: 3em;
        }

/*Mise en page tableau*/

    #tableau-donnees{
        font-family: 'Roboto', sans-serif;
        color : #7a7a7a;
        text-align: center;

    }
    table tr td, table tr th{
        background-color: rgb(227, 238, 243) !important;
    }


/*Mise en page formulaires*/

    input, textarea, select {
        margin-bottom: 1rem;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
    }

/*Animation Background*/

    .wrapper{
        position:relative;
        /*width: auto;*/
        /*height: auto;*/
        width: available ;
        height: available;
        overflow: hidden;
        background: linear-gradient(90deg, rgba(2,0,.6,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    }

    .box div{
        position: absolute;
        width: 6em;
        height: 1.5em;
        background-color: transparent;
        border: 1px solid rgba(255,255,255,0.8) ;
    }

    .box div:nth-child(1){
        top: 12%;
        left: 42%;
        animation: animate 10s linear infinite;
    }

    .box div:nth-child(2){
        top: 70%;
        left: 50%;
        animation: animate 7s linear infinite;
    }

    .box div:nth-child(3){
        top: 17%;
        left: 6%;
        animation: animate 9s linear infinite;
    }

    .box div:nth-child(4){
        top: 20%;
        left: 60%;
        animation: animate 10s linear infinite;
    }

    .box div:nth-child(5){
        top: 67%;
        left: 10%;
        animation: animate 6s linear infinite;
    }

    .box div:nth-child(6){
        top: 80%;
        left: 70%;
        animation: animate 12s linear infinite;
    }

    .box div:nth-child(7){
        top: 60%;
        left: 80%;
        animation: animate 15s linear infinite;
    }

    .box div:nth-child(8){
        top: 32%;
        left: 25%;
        animation: animate 16s linear infinite;
    }

    .box div:nth-child(9){
        top: 90%;
        left: 25%;
        animation: animate 9s linear infinite;
    }

    .box div:nth-child(10) {
        top: 20%;
        left: 80%;
        animation: animate 5s linear infinite;
    }

    @keyframes animate {
        0%{
            transform: scale(0) translateY(0) rotate(0);
            opacity:1
        }
        100%{
            transform: scale(1.3) translateY(-90px) rotate(360deg);
            opacity: 0;

        }
    }


    /*Texte Background*/

        #text-bg{
            text-align: center;
            horiz-align: right;
            font-size: 1em;
        }

.hidden {
    display: none;
}

.show{
    display: block;
}


/*body{*/
/*    font-family: 'Fira Sans', sans-serif;*/
/*    background: #FFEEEE;  !* fallback for old browsers *!*/
/*    background: -webkit-linear-gradient(to bottom, #DDEFBB, #FFEEEE);  !* Chrome 10-25, Safari 5.1-6 *!*/
/*    background: linear-gradient(to bottom, #DDEFBB, #FFEEEE); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
/*    background-attachment: fixed;*/
/*    background-position: center center;*/
/*    background-size: cover;*/

/*}*/
/*a{*/
/*    text-decoration: none;*/
/*    color:black;*/

/*}*/



/*a:hover{*/
/*    color:lightslategray;*/
/*}*/


/*.nav {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    list-style-type: none;*/
/*    font-size: 1.5em;*/
/*    width: 100%;*/

/*}*/
/*.entete{*/
/*    display : flex;*/
/*    flex-direction: row;*/
/*    list-style-type: none;*/

/*}*/

/*!* Flash *!*/

/*.flash {*/
/*    padding: 20px;*/
/*    font-weight: bold;*/
/*    font-size: 1.4rem;*/
/*    margin: 1rem 0;*/
/*    border-radius: 5px;*/
/*    color: #132135;*/
/*}*/

/*.flash-success {*/
/*    background-color: lawngreen*/
/*}*/

/*.flash-error {*/
/*    background-color: red*/
/*}*/


/*.link_button {*/
/*    border: 2px solid black;*/
/*    margin: 5px;*/
/*    padding: 5px;*/
/*    border-radius: 30% 5%;*/
/*!*Barre de navigation *!*/


/*}*/

/*nav ul {*/
/*    display: flex;*/
/*    list-style: none;*/
/*    padding-left: 0;*/
/*}*/

/*nav li {*/
/*    margin-right: 3rem; !*pourcentage de taille en fonction du zoom 1 rem = 10px pour zoom = 100%*!*/
/*}*/

/*!* Form *!*/

/*label {*/
/*    display: block;*/
/*}*/

/*input,*/
/*select {*/
/*    margin-bottom: 1rem;*/
/*    box-sizing: border-box;*/
/*    width: 200px;*/
/*    max-width: 50%;*/
/*}*/

/*textarea {*/
/*    margin-bottom: 1rem;*/
/*    box-sizing: border-box;*/
/*    width: 400px;*/
/*    height: 100px;*/
/*}*/

/*!*Photo de profil*!*/

/*img {*/
/*    border: 1px solid #ddd;*/
/*    border-radius: 4px;*/
/*    padding: 5px;*/
/*    width: 150px;*/
/*}*/

/*img:hover {*/
/*    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);*/
/*}*/

/*.utilisateur-infos{*/
/*    display: grid;*/
/*    grid-template-columns: 1fr;*/
/*    grid-gap: 30px;*/
/*    margin-top: 10px;*/
/*}*/

/*.footer {*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    height: 50px;*/
/*    padding-top: 15px;*/
/*    text-align: center;*/
/*}*/

/*hr{*/

/*}*/

/*table, td, tr, th, caption {*/
/*    border: 1px solid #333;*/
/*    text-align: center;*/
/*}*/

/*thead, tfoot {*/
/*    background-color: #333;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*}*/

/*table, caption, th, td {*/
/*    border: 2px solid black;*/
/*    border-collapse: collapse;*/
/*}*/

/*caption, th, td {*/
/*    padding: 8px;*/
/*}*/

/*.tableau {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*}*/





