<div class="bg-white bg-opacity-10 fixed-bottom" >

        <div class="d-flex justify-content-evenly">
        <h5 class ="footer text-white">&copy; ENI Event {{ "now" | date('Y') }}</h5>
        </div>
</div>





