{% form_theme form 'views/theme/form_theme.html.twig' %}

{#<span class="encadrement-contenu">#}

<h2>{% block h2 %}{% endblock %}</h2>

{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="text-center">
    <button class="btn btn-outline-light rounded-0" onclick="confirm('Confirmer ?')">{% block buttonLabel %}{% endblock %}</button>
</div>
{{ form_end(form) }}

{#</span>#}