{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} | Ajouter une ville
{% endblock %}

{% block body %}
    {{ form_start(villeForm) }}
    {{ form_widget(villeForm) }}
    <button class="btn btn-outline-light rounded-0" type="submit" >Enregistrer</button>
    {{ form_end(villeForm) }}
{% endblock %}



