{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} | Ajouter une ville
{% endblock %}

{% block body %}

    <span class="encadrement-contenu">
        <h2>Ajouter une ville</h2>
        <br>
      {{ form_start(villeForm) }}
        {{ form_widget(villeForm) }}
        <br>
        <button class="btn btn-outline-light rounded-0" type="submit" >Enregistrer</button>
        {{ form_end(villeForm) }}
    </span>

{% endblock %}





