<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ENI Event{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/logo.png') }}">
    </head>
    <body>
        <div>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <header>
                {% include 'header/header.html.twig' %}
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            {% include 'footer/footer.html.twig' %}
        </footer>
    </body>
</html>
