<nav class = "nav">
    <ul>
        <li><a href="{{ path('main_home') }}">Accueil</a></li>
        {% if app.user %}
            <li><a href="{{  path('utilisateur_show', {'id': app.user.id})  }}">Profil</a></li>
            <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
        {% else %}
            <li><a href="{{ path('app_login') }}">Connexion</a></li>
        {% endif %}
    </ul>
</nav>