<nav>
    <ul>
        <li><a href="">Accueil</a></li>
        <li><a href="{{  path('utilisateur_update', {'id': app.user.id})  }}">Profil</a></li>
        <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
    </ul>
</nav>